{% extends 'blog/base.html' %}

{% block content %}
    <div class="post">
        <figure class="post_figure">
            {% if post.image %}
            <!-- 背景画像 -->
            <img src="{{post.image.url }}" class="post_image" >
            {% endif %}
            <!-- タイトル -->
            <h2 class="post_title">{{ post.title }}</h2>
            <div class="post_flex">
                <!-- 投稿日時 -->
                {% if post.published_date %}
                    <div class="post_date">
                        {{ post.published_date }}
                    </div>
                {% endif %}
                <!-- 編集ボタン -->
                <a class="btn btn-default edit_btn" href="{% url 'post_edit' pk=post.pk %}"><i class="far fa-edit edit_btn_i"></i></a>
                <!-- 削除ボタン -->
                <a class="btn btn-default delete_btn" href="{% url 'post_remove' pk=post.pk %}"><i class="far fa-trash-alt delete_btn_i"></i></a>
            </div>
            <!-- 概要説明 -->
            <p class="post_text">{{ post.text|linebreaksbr}}</p>
            <!-- googlemap追加ボタン -->
            <button class="go_google"><a href="{{ post.url }}" target="_blank">GoogleMapへ追加<i class="fas fa-map-marked-alt map_add_icon"></i></a></button>
        </figure>

        <!-- <iframe src="{{ post.url }}" width="640" height="480"></iframe> -->
        <!-- <iframe src="https://www.google.com/maps/place/NODEUEHARA/@35.6694618,139.6800331,17z/data=!3m1!5s0x6018f347f1457f0b:0x248cfde4fbbe1f16!4m9!1m3!11m2!2sngxQZnTKCGeX2fV9KJcbyDjd_0Adcg!3e3!3m4!1s0x0:0x6b1e10f2340b773e!8m2!3d35.6694621!4d139.680033" frameborder="0"></iframe> -->
    </div>

{% endblock %}